.avatar-row {
    padding-top: 25px;
}

.avatar-container:hover {
    background-color: #ddd;
}

.avatar {
    margin-top: 20px;
}

.avatar img {
    width: 75px;
    height: 75px;
}

.selected {
    background-color: #ccc !important;
}

@media(max-width: 768px) {
}